@mixin default-button {
  width: units(15);
  border-color: $ch-color-gray;
  border-radius: units(1);
  margin-right: units(0.5);
  margin-left: units(0.5);
  &:hover {
    border-color: $ch-color-dark-gray;
  }
  &:disabled {
    background-color: $ch-color-gray;
    border-color: $ch-color-gray;
  }
}

.ch-add--wrapper-h {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  .ch-add--wrapper-v {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    flex: 0.5;
    max-width: units('mobile-lg');
    .ch-add--img {
      width: units(9);
      height: auto;
      flex-grow: 0;
      flex-shrink: 0;
      margin: units(1);
    }
    .ch-add--flex-row {
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      &.ch-add--flex-start {
        justify-content: flex-start;
      }
    }

    .ch-add--popular-image {
      align-self: flex-end;
    }

    .ch-add--popular-controls {
      flex:1;
      align-self:flex-end;
      button {
        align-self: center;
        background: $ch-color-white;
        height: units(3)+units(0.5);
        width: auto;
        margin-top: units(1);
        margin-right: units(0.5);
      }

      input {
        &:disabled {
          color: $ch-color-dark-gray;
          font-size: small;
        }
      }
    }

    .ch-add--message-alert {
      color: $ch-color-dark-red;
      font-size: units(1.5);
    }
    .ch-add--message-action {
      color: $ch-color-blue;
      font-size: units(1.5);
    }
    .ch-add--input {
      flex: 1;
      margin-bottom: units(1);
      label {
        color: $ch-color-dark-gray;
        font-size: units(1.5);
        flex: 0 1 auto;
      }
      input {
        border: solid 1px $ch-color-gray;
        border-radius: units(0.5);
        height: units(3)+units(0.5);
        flex: 1;
      }
      input, select {
        width: 100%;
      }
      label, input {
        display:block;
      }
      textarea {
        width: 100%;
        height: units(5);
        font-size: units(1.5);
      }
      ::-webkit-input-placeholder { /* Edge */
        color: $ch-color-dark-gray;
        font-size: units(1.5);
        padding-left: units(1);
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $ch-color-dark-gray;
        font-size: units(1.5);
        padding-left: units(1);
      }
      
      ::placeholder {
        color: $ch-color-dark-gray;
        font-size: units(1.5);
        padding-left: units(1);
      }
    }
    .ch-add--input-disable {
      input {
        color: $ch-color-black;
        font-weight: normal;
        border: solid 0px transparent;
      }
    }
    .ch-add--input-checkbox {
      margin-bottom: units(1);
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-content: center;
      span {
        color: $ch-color-dark-gray;
        font-size: units(1.5);
        margin-left: units(0.5);
        margin-right: units(2);
      }
      input {
        border: solid 1px $ch-color-gray;
        border-radius: units(0.5);
      }
    }
    .ch-add--input-alert {
      input, select, ul {
        border: solid 1px $ch-color-red;
        border-radius: units(0.5);
      }

    }
    .ch-add--controls {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      margin-top: units(1.5);
      button {
        @include default-button();
      }
    }
    .ch-add--categories {
      margin-bottom: units(5);
      label {
        color: $ch-color-dark-gray;
        font-size: units(1.5);
        margin-bottom: units(0.5);
      }
      .ch-add--categories-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: left;
        text-align: left;
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          li{
            font-size: units(2);
            margin-bottom: units(0.5);
            input{
              margin-right: units(0.5);
            }
          }
        }
      }
    }
  }
}