.ch-home--wrapper {
  background-color: $ch-color-background;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: flex-start;
  align-items: center;
  align-content: center;
  .ch-home--result {

    ul {
      padding-left: units(10);
      padding-right: units(10);
      list-style-type: none;
    }
  }
}