$ch-color-white: #FFFFFF;
$ch-color-black: #000000;
$ch-color-navy: #162E51;
$ch-color-gray: #CCCCCC;
$ch-color-dark-gray: #808080;
$ch-color-green: green;
$ch-color-red: red;
$ch-color-dark-red: darken(red, 15%);
$ch-color-blue: blue;

$ch-color-background: lighten($ch-color-gray, 15%);

